<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <partial name="Partial/_Styles"/>
</head>
<body>
<partial name="Partial/_Header"/>
<div class="container">
    @RenderBody()
</div>
<partial name="Partial/_Footer"/>
<partial name="Partial/_Scripts"/>
</body>
</html>